.search {
  width: 80%;
  height: 60px;
  margin-left: 10%;
  border-radius: 10px;
  background-color: #b3e5fc;
  color: black;
}

.search-topic {
  display: flex;
  width: 60%;
  height: 60px;
  margin-left: 20%;
  cursor: pointer;
  justify-content: space-around;
}

input:focus {
  background-color: #0277bd;
  color: azure;
}
input {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 240, 242);
}

.search_page {
  display: flex;
  justify-content: center;
}
